@model LoginViewModel

@{
    ViewData["Title"] = "Вход за регистрирани потребители";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div class="row mt-5">
    <div class="col-md-4 offset-md-4">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="text-center mb-3">
                    <input asp-for="@Model.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Потребителско име" />
                    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                </div>
                <div class="text-center mb-3">
                    <input asp-for="@Model.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Парола" />
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="text-center mt-5">
                    <button type="submit" class="btn btn-primary">ВХОД</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
