@model RegisterViewModel

@{
    ViewData["Title"] = "Регистрация на нов потребител";
}

<h2 class="text-center">@ViewData["Title"]</h2>


<div class="row mt-5">
    <div class="col-md-4 offset-md-4">
        <form id="registerForm" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="text-center mb-3">
                <input class="form-control " autocomplete="on" aria-required="true" asp-for="@Model.FirstNane" placeholder="Име"/>
                <span asp-validation-for="@Model.FirstNane" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <input class="form-control " autocomplete="on" aria-required="true" asp-for="@Model.LastNane" placeholder="Фамилия" />
                <span asp-validation-for="@Model.LastNane" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <input class="form-control " autocomplete="username" aria-required="true" asp-for="@Model.UserName" placeholder="Потребителско име" />
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <input class="form-control " autocomplete="on" aria-required="true" asp-for="@Model.Email" placeholder="Имейл" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
             <div class="text-center mb-3">
                <input class="form-control " autocomplete="username" aria-required="true" asp-for="@Model.PhoneNumber" placeholder="Телефон" />
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.Password" placeholder="Парола" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <input class="form-control" type="password" autocomplete="new-password" aria-required="true" asp-for="@Model.ConfirmPassword" placeholder="Потвърдете паролата" />
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button id="registerSubmit" type="submit" class="btn btn-primary">РЕГИСТРАЦИЯ</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

