@model List<SaleModel>

@{
    ViewData["Title"] = "Всички продажби";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="col-4 my-5">
    <form class="d-flex" asp-controller="Sale" asp-action="Search" method="get">
            <input name="productSKU" class="form-control me-2" placeholder="Въведи SKU номер..." />
            <input name="date" type="date" class="form-control me-2" />
            <button type="submit" class="btn btn-outline-success">Търси</button>
    </form>
</div>

@if (!Model.Any())
{
    <p>Няма намерени резултати !</p>
}
else
{
    
    <div class="alert alert-success" id="successMessage" role="alert" style="display: none;"></div>
    <div class="alert alert-danger" id="errorMessage" role="alert" style="display: none;"></div>
    <div class="col-12">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">SKU</th>
                    <th scope="col">Размер</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Единична цена</th>
                    <th scope="col">Обща цена</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Отстъпка</th>
                    <th scope="col">Плащане</th>
                </tr>
            </thead>
            <tbody id="salesTable">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.ProductSKU</td>
                        <td>@item.Size</td>
                        <td>@item.SoldDate</td>
                        <td>@item.UnitPrice</td>
                        <td>@item.TotalPrice</td>
                        <td>@item.Quantity</td>
                        <td>@item.Discount</td>
                        <td>@item.PaymentMethod</td>
                        <td align="right">
                            <a class="btn btn-danger delete-btn" data-id="@item.Id" data-confirm="Сигурни ли сте че искате да изтриете този артикул?">Отмени продажба</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
