@model ProductInventoryModel
@using System.ComponentModel;

@{
    ViewData["Title"] = "Създай размер";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="alert alert-success" id="successMessageCreate" role="alert" style="display: none;"></div>
<div class="alert alert-danger" id="errorMessageCreate" role="alert" style="display: none;"></div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form id="createForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.ProductId" />
            <input type="hidden" asp-for="@Model.ProductSKU" />
            <div class="form-group text-center mb-3" id="size">
                <label asp-for="Size" class="control-label">Размер</label>
                <select asp-for="Size" class="form-control">
                    <option value="@null" selected>Избери размер</option>
                    @{
                        var enumType = typeof(WarehouseManagment.Data.Size);
                        var enumValues = Enum.GetValues(enumType);
                        foreach (var sizeValue in enumValues)
                        {
                            var enumMember = enumType.GetMember(sizeValue.ToString())[0];
                            var descriptionAttribute = enumMember.GetCustomAttributes(typeof(DescriptionAttribute), false).FirstOrDefault() as DescriptionAttribute;

                            var sizeDescription = descriptionAttribute != null ? descriptionAttribute.Description : sizeValue.ToString();

                            if (Model.ExistingSizes.Any() && Model.ExistingSizes.Contains(sizeValue.ToString()))
                            {
                                continue;
                            }

                            <option value="@sizeValue">@sizeDescription</option>
                        }
                    }
                </select>

                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group text-center mb-3">
                <label asp-for="Quantity" class="control-label">Количество</label>
                <input asp-for="Quantity" type="number" min="0" autocomplete="off" class="form-control" placeholder="Въведи количество" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button type="submit" id="submitBtn"  class="btn btn-primary">Създай</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $('#submitBtn').click(function (e) {
                e.preventDefault();

                var formData = $('#createForm').serialize();

                $.ajax({
                    type: "POST",
                    url: "/ProductInventory/Create",
                    data: formData,
                    dataType: "json",
                    success: function (response) {
                        if (response.result === true) {
                            $('#successMessageCreate').text("Размерар количеството и баркода са успешно създадени.");
                            $('#successMessageCreate').show();
                            setTimeout(function () {
                                window.location.href = "/ProductInventory/Availability/" + @Model.ProductId;
                            }, 3000);
                        } else {
                            $('#errorMessageCreate').text("An error occurred while creating the product: " + response.message);
                            $('#errorMessageCreate').show();

                            setTimeout(function () {
                                $('#createForm')[0].reset();
                            }, 4000);

                            setTimeout(function () {
                                window.location.href = "/Product/Create";
                            }, 5000);
                        }
                    },
                    error: function () {
                        alert("Полето артикулен номер е задължително !");
                    }
                });
            });

        })
    </script>
}