@model CourierModel

@{
    ViewData["Title"] = $"Редактиране на пратка";
}

@Html.AntiForgeryToken();

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="col-6 mt-5">
    <input class="product-quantity-old form-control" type="hidden" asp-for="Quantity">
    <input class="product-productInventoryId form-control" type="hidden" asp-for="ProductInventoryId">
    <input class="product-courierId" type="hidden" asp-for="Id">
    <div class="row product-row">
        <div class="col py-2 text-center">
            <p class="product-sku text-center">@Model.ProductSKU</p>
            <p class="product-description text-center">@Model.Description</p>
            <p class="product-availability text-center">@Model.Availability</p>
        </div>
        <div class="input-group input-group-lg mb-2">
            <span class="input-group-text fw-bold" id="inputGroup-sizing-lg">Товарителница :</span>
            <input class="product-shippmentBill form-control" aria-label="Disabled input example" asp-for="ShippmentBill" disabled>
        </div>
        <div class="input-group input-group-lg mb-2">
            <label class="input-group-text fw-bold" for="inputGroupSelect01">Куриер : </label>
            <select asp-for="CourierName" class="product-courierName form-select">
                @foreach (var courierNameValue in Enum.GetValues(typeof(WarehouseManagment.Data.CourierName)))
                {
                    <option value="@courierNameValue">@courierNameValue</option>
                }
            </select>
        </div>
        <div class="input-group input-group-lg mb-2">
            <span class="input-group-text fw-bold" id="inputGroup-sizing-lg">Единична цена :</span>
            <input class="product-unit-price form-control" aria-label="Disabled input example" asp-for="UnitPrice" disabled>
        </div>
        <div class="input-group input-group-lg mb-2">
            <label class="input-group-text fw-bold" for="inputGroupSelect01">Плащане : </label>
            <select asp-for="CourierPaymentMethod" class="product-courierPaymentMethod form-select">
                @foreach (var courierPaymentMethodValue in Enum.GetValues(typeof(WarehouseManagment.Data.CourierPaymentMethod)))
                {
                    <option value="@courierPaymentMethodValue">@courierPaymentMethodValue</option>
                }
            </select>
        </div>
        <div class="input-group input-group-lg mb-2">
            <span class="input-group-text fw-bold" id="inputGroup-sizing-lg">Количество :</span>
            <input class="product-quantity-new form-control" type="number" min="1" aria-label="Disabled input example" asp-for="Quantity">
        </div>
        <div class="input-group input-group-lg mb-2">
            <label class="input-group-text fw-bold" for="inputGroupSelect01">Отстъпка : </label>
            <select class="product-discount form-select" asp-for="Discount" id="inputGroupSelect01">
                @foreach (var discountValue in Enum.GetValues(typeof(WarehouseManagment.Data.Discount)))
                {
                    <option value="@((int)discountValue)">@((int)discountValue)%</option>
                }
            </select>
        </div>
        <div class="input-group input-group-lg mb-2">
            <span class="input-group-text fw-bold" id="inputGroup-sizing-lg">Тотал цена :</span>
            <input class="product-total-price form-control" asp-for="TotalPrice" id="TotalPrice" aria-label="Disabled input example" disabled>
        </div>
        <div class="input-group input-group-lg mb-2">
            <span class="input-group-text fw-bold" id="inputGroup-sizing-lg">Коментар :</span>
            <input type="text" class="notes-input form-control" asp-for="Notes">
        </div>
        <button class="p-2 mb-2 edit-button btn btn-outline-success fs-4">РЕДАКТИРАЙ КУРИЕР</button>
    </div>
</div>
<div class="col-3 mt-5">
    <a class="btn btn-primary" href="/Courier/AllCouriers">Назад</a>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {

            function UpdateTotalPriceByDiscount() {
                var unitPrice = parseFloat($('.product-unit-price').val());
                var quantity = parseInt($('.product-quantity-new').val());
                var discount = parseFloat($('.product-discount option:selected').val());

                if (isNaN(discount)) {
                    discount = 0;
                }

                var totalPrice = unitPrice * quantity;

                if (discount > 0) {
                    totalPrice = ((unitPrice - (unitPrice * discount / 100)) * quantity).toFixed(2);
                } else {
                    totalPrice = (unitPrice * quantity).toFixed(2);
                }

                $('#TotalPrice').val(totalPrice);
            }

            $('.product-discount').on('change', UpdateTotalPriceByDiscount);

            function UpdateTotalPriceByQuantity() {
                var unitPrice = parseFloat($('.product-unit-price').val());
                var quantity = parseInt($('.product-quantity-new').val());
                var discount = parseFloat($('.product-discount option:selected').val());
                if (isNaN(discount)) {
                    discount = 0;
                }

                var totalPrice = unitPrice * quantity;

                if (discount > 0) {
                    totalPrice = ((unitPrice - (unitPrice * discount / 100)) * quantity).toFixed(2);
                } else {
                    totalPrice = (unitPrice * quantity).toFixed(2);
                }
                $('#TotalPrice').val(totalPrice);
            }
            $('.product-quantity-new').on('input', UpdateTotalPriceByQuantity);
            UpdateTotalPriceByQuantity();

            $('.edit-button').on('click', function () {
                var id = $('.product-courierId').val();
                var unitPrice = parseFloat($('.product-unit-price').val());
                var discount = parseInt($('.product-discount option:selected').val());
                var availability = parseInt($('.product-availability').text());
                var quantityOld = parseInt($('.product-quantity-old').val());
                var quantityNew = parseInt($('.product-quantity-new').val());
                if (quantityNew <= 0) {
                    alert("Количеството не може да е по-малко от 1");
                    return false;
                }
                var quantityDifference = quantityNew - quantityOld;
                var availabilityNew = quantityOld + availability;
                if (quantityNew > availabilityNew) {
                    alert("Количеството което сте избрали е по-голямо от наличностите.");
                    return false;
                }
                var paymentMethod = $('.product-courierPaymentMethod').val();
                var totalPrice;
                if (discount > 0) {
                    totalPrice = (unitPrice - (unitPrice * discount / 100)) * quantityNew;
                } else {
                    totalPrice = unitPrice * quantityNew;
                }

                var notes = $('.notes-input').val();
                var courierName = $('.product-courierName').val();
                var productInventoryId = $('.product-productInventoryId').val();


                var courier = {
                    id: id,
                    discount: discount,
                    quantity: quantityNew,
                    totalPrice: totalPrice,
                    courierPaymentMethod: paymentMethod,
                    notes: notes,
                    quantityDifference: quantityDifference,
                    courierName: courierName,
                    productInventoryId: productInventoryId
                };

                $.ajax({
                    url: '/Courier/Edit',
                    type: 'POST',
                    data: courier,
                    headers: {
                        RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    },
                   success: function (response) {
                        if (response.success) {
                            alert("Успешно редактирахте пратката!")
                            window.location.href = '/Courier/AllCouriers/';
                        } else {
                            // Handle an unsuccessful sale (e.g., show an error message)
                            alert('Неуспешно редактиране: ' + response.message);
                        }
                    }
                });
            });

        })
    </script>
}