@model ProductModel

@{
    ViewData["Title"] = $"Детайли за артикул #{Model.SKU}";
}

<h1 class="text-center">@ViewData["Title"]</h1>

@{
    var barcodeExist = true;
}

<div class="container mt-5">
    <div class="row justify-content-around">
        <div class="col-4">
            <table class="table table-striped text-large customFontSizeDetails">
                <tbody>
                    <tr>
                        <td>ID :</td>
                        <td>@Model.Id</td>
                    </tr>
                    <tr>
                        <td>Описание :</td>
                        <td>@Model.Description</td>
                    </tr>
                    <tr>
                        <td>Цена на дребно :</td>
                        <td>@Model.RetailPrice лв.</td>
                    </tr>
                    <tr>
                        <td>Цена на едро :</td>
                        <td>@Model.WholesalePrice лв.</td>
                    </tr>
                    <tr>
                        <td>Цвят :</td>
                        <td>@Model.Color</td>
                    </tr>
                    <tr>
                        <td>Пол :</td>
                        <td>@Model.Genre</td>
                    </tr>
                    <tr>
                        <td>Състав 1 :</td>
                        <td>@Model.FirstComposition</td>
                    </tr>
                    <tr>
                        <td>Състав 2 :</td>
                        <td>@Model.SecondComposition</td>
                    </tr>
                    <tr>
                        <td>Категория :</td>
                        <td>@Model.Category</td>
                    </tr>
@*                    @if(Model.Size != null){
                        <tr>
                            <td>Размер :</td>
                            <td>@Model.Size</td>
                        </tr>
                    } *@
@*                     else
                    {
                        <tr>
                            <td>Размер :</td>
                            <td>@Model.JeansSize</td>
                        </tr>
                    } *@
@*                     <tr>
                        <td>Баркод :</td>
                        @if (barcodeExist)
                        {
                            <td><img src="data:image/jpeg;base64, @Convert.ToBase64String(Model.Barcode)" alt="Barcode" style="height : 50px;width : 200px;" /></td>
                        }
                        else
                        {
                            <td>N/A</td>
                        }

                    </tr> *@
                </tbody>
            </table>
            <div class="col-3 mt-3">
                <a class="btn btn-primary" href="/Product/All">Назад</a>
            </div>
            @if (barcodeExist)
            {
                <div class="col-6 mt-3">
                    <a class="btn btn-secondary btn-lg" asp-action="SaveBarcodeImage" asp-controller="Product" asp-route-Id="@Model.Id">Запази баркод като снимка</a>
                </div>
            }
        </div>
    </div>
</div>

