@model ProductModel

@{
    ViewData["Title"] = $"Редактиране артикул #{Model.SKU}";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="alert alert-success" id="successMessage" role="alert" style="display: none;"></div>
<div class="alert alert-danger" id="errorMessage" role="alert" style="display: none;"></div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form id="editForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="SKU" type="hidden" autocomplete="off" class="form-control" />
            <input asp-for="Id" type="hidden" autocomplete="off" class="form-control" />
            <div class="form-group text-center mb-3">
                <label asp-for="Description" class="control-label">Описание</label>
                <input asp-for="Description" type="text" autocomplete="off" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group text-center mb-3">
                <label asp-for="RetailPrice" class="control-label">Цена на дребно</label>
                <input asp-for="RetailPrice" type="number" min="0" autocomplete="off" class="form-control" />
                <span asp-validation-for="RetailPrice" class="text-danger"></span>
            </div>
            <div class="form-group text-center mb-3">
                <label asp-for="WholesalePrice" class="control-label">Цена на едро</label>
                <input asp-for="WholesalePrice" type="number" min="0" autocomplete="off" class="form-control" />
                <span asp-validation-for="WholesalePrice" class="text-danger"></span>
            </div>
            <div class="form-group text-center mb-3">
                <label asp-for="Color" class="control-label">Цвят</label>
                <select asp-for="Color" class="form-control">
                    <option value="@Model.Color" selected></option>
                    @foreach (var colorValue in Enum.GetValues(typeof(WarehouseManagment.Data.Color)))
                    {
                        <option value="@colorValue">@colorValue</option>
                    }
                </select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group text-center mb-3">
                <label asp-for="Genre" class="control-label">Пол</label>
                <select asp-for="Genre" class="form-control">
                    <option value="@Model.Genre" selected></option>
                    @foreach (var genreValue in Enum.GetValues(typeof(WarehouseManagment.Data.Genre)))
                    {
                        <option value="@genreValue">@genreValue</option>
                    }
                </select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group text-center mb-3">
                <label asp-for="FirstComposition" class="control-label">Състав 1</label>
                <select asp-for="FirstComposition" class="form-control">
                    <option value="@Model.FirstComposition" selected></option>
                    @foreach (var compositionValue in Enum.GetValues(typeof(WarehouseManagment.Data.Composition)))
                    {
                        <option value="@compositionValue">@compositionValue</option>
                    }
                </select>
                <span asp-validation-for="FirstComposition" class="text-danger"></span>
            </div>
            <div class="form-group text-center mb-3">
                <label asp-for="SecondComposition" class="control-label">Състав 2</label>
                <select asp-for="SecondComposition" class="form-control">
                    <option value="@Model.SecondComposition" selected></option>
                    @foreach (var compositionValue in Enum.GetValues(typeof(WarehouseManagment.Data.Composition)))
                    {
                        <option value="@compositionValue">@compositionValue</option>
                    }
                </select>
                <span asp-validation-for="SecondComposition" class="text-danger"></span>
            </div>
            <div class="form-group text-center mb-3">
                <label asp-for="Category" class="control-label">Категория</label>
                <select asp-for="Category" id="categoryDropdown" class="form-control">
                    <option value="@Model.Category" selected></option>
                    @foreach (var categoryValue in Enum.GetValues(typeof(WarehouseManagment.Data.Category)))
                    {
                        <option value="@categoryValue">@categoryValue</option>
                    }
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button id="submitBtn" class="btn btn-primary">Редактирай</button>
            </div>
        </form>
        <div class="col-3 mt-5">
            <a class="btn btn-primary" href="/Product/All">Назад</a>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#submitBtn').click(function (e) {
                e.preventDefault();

                var formData = $('#editForm').serialize();

                $.ajax({
                    type: "POST",
                    url: "/Product/Edit",
                    data: formData,
                    dataType: "json",
                    success: function (response) {
                        if (response.success === true) {
                            setTimeout(function () {
                                window.location.href = "/Product/All";
                            }, 3000);
                            $('#successMessage').text(response.message);
                            $('#successMessage').show();
                            
                        } else {
                            $('#errorMessage').text(response.message);
                            $('#errorMessage').show();

                            setTimeout(function () {
                                $('#errorMessage').hide();
                            }, 3000);
                        }
                    },
                    error: function () {
                        
                    }
                });
            });
        })
    </script>

}